body {
  min-height: 2000px;
}

.jumbotron {
  padding-top: 2rem;
  /* margin-top: 3rem; */
  /* padding-bottom: 2rem; */
  /* min-height: 700px; */
  background-color: #e7e7e7;
}

#gallery {
  background-color: #e7e7e7;
}

